.idea/

node_modules/
venv/

build/*.tvc
build/*.js
build/*.sh
build/*.result
build/*.code
build/*.base64
build/Test*.abi.json

package-lock.json

.env
migration-log.json

tonos-cli.conf.json
debot_err.log
*.keys.json
